.habilidades h1{
	width: 90%;
	margin: 0 auto;
	color: white;
	margin-bottom: 15px;
}

.habilidade_container{
	display: flex;
	width: 90%;
	justify-content: ;
	margin: 0 auto;
}


.habilidade_item{
	flex: 1;
	background: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	margin: 5px;
}


@media(max-width: 600px){
	.habilidades{
		margin: 0px 20px;
	}
	.habilidade_container{
		flex-wrap: nowrap;
		overflow-x: scroll;
	}

	.habilidade_container::-webkit-scrollbar-thumb{
		background-color:  rgba(3, 4, 94,.4);
		width: 4px;
		height: 10px;
	}

	.habilidade_container::-webkit-scrollbar{
		width: 6px;
		height: 10px;
		background: rgba(144, 224, 239, 1.0);
;
	}

	.habilidade_item{
	
	}
}