footer{
	width: 90%;
	margin: 0 auto;
	height: 100px;
	background: rgba(223, 223, 232, .4);
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	margin-top: 50px;
	border-radius: 12px 12px 0px 0px;
}
